*{
	  margin:0;
	  padding:0;
	  }
.body {
		background-color:black;	
	background-color: rgba(0,0,0,0.7);
	margin: 160 auto;
	width:85%;
	clear:both;
}
	  	  .background-wrap {
		  position:fixed;
		  	width:100%;
			z-index:-1000;
			height:100%;
			overflow:hidden;
			top:0;
			left:0;
			}
			
			#video-bg-elem {position:absolute;
			top:0;
			left:0;
			min-height:100%;
			min-width:100%;
			}
h2{color:#b3d9ff;
}
p {color:#ffbf80; font-size:17px;}
a {text-decoration:none;	
}
nav li a:link,nav li a:visited{   
     color:black;
     background-color:none;
     border-radius:4px;	 
}
nav li a:hover,nav li a:active{ 
background-color:#ffe0b3;	
color:black;
text-decoration:underline;
border-radius:2px;
padding:5px;
}
span{color:#cc9966;}
a:hover span{background-color:none;
text-decoration:underline;
border-radius:8px;
padding:4px;}
img {
	text-align:center;
	width:20%;
}
.mainheader{
	  background:#c68c53; 
	  width:100%; 
	  height:125px;
	  position: fixed;
	  top:0; 
	  left:0;
	  z-index:100; 
	  opacity: 0.80;
	  }
.mainheader img{
	width:15%;
	height:auto;
    margin:2% 5%;
}
.mainheader nav{
	float:right;
	padding:15px 200px 50px 0;
	font-size:20px;
}
.mainheader nav ul li{
	display: inline-block;
	float: left;
padding:17px;
font-size:30px;
border:8px
}
.mainheader1{
	visibility:hidden;}

@keyframes slider{
	0% {
		left:0;
	}
	20% {
		left:0;
	}
	25%{
		left:-100%;
	}
	45%{
		left:-100%;
	}
	50%{
		left:-200%;
	}
	70%{
		left:-200%;
	}
	75%{
		left:-300%;
	}
	95%{
		left:-300%;
	}
	100%{
		left:0%;
}}
	
#slider {
	overflow:hidden;
	margin-left:15%;
	margin-top:5%;
	background-color:white;
	-webkit-box-shadow: 7px 7px 7px black;
	border-radius:19px;
	font-family:AR BERKLEY;
}
content header.h2{
	margin-top:50px;
}
.Merchandise {color:black;
text-align:center;
margin:5%;
font-size:29px;
text-decoration:underline;
background-color:#c68c53;
border-radius:15px;
padding:20px;
padding-top:5px;
	text-shadow:3px 3px 3px white;
}
.Merchandise:hover{
	color:red;
	text-shadow:3px 3px 3px #CCC;
}
#slider figure img{
	width:9%;
	float:left;
}
#slider figure {
	position:relative;
	width:550%;
	margin:0;
	left:0;
	text-align:left;
	font-size:0;
	animation:15s slider infinite;
}


/*Moving onto our content*/

.content {background:#c68c53;
width:118%;
margin-top:40px;
margin-bottom:55px;
text-align:center;
color:white;
padding:10px 0px 20px 10px;
}
.selection{
	padding-top:15px;
	color:blue;
}
.products{
	margin:30px 15px;
	padding:5px;
	color:white;
	padding-bottom:20px;
}

/*Footer*/
#footer{
	position:fixed;
	bottom:0px;
	margin-top:0;
	padding:0;
	right:0;
	width:100%;
	height:45px;
	font-family:Arial;
	text-shadow: 1px 1px 1px/*bluring 1 px*/ black;
	border-top:1px solid rgba(0,0,0,0.3/*changes the transparency*/);
	background:rgba(0,0,0,0.25);
	box-shadow:inset 0 1px rgba(255,255,255,0.3),inset 0 10px rgba(255,255,255,0.2), inset 0 10px 20px rgba(255,255,255,0.25), inset 0 -15px 30px rgba(0,0,0,0.20);
}
#footer h2{
	font-weight:normal;
font-size:14px;
text-decoration:underline;
color:#CC0000;
margin-top:10px;
margin-bottom:5px;
margin-left:10px;
}
#footer p{
	color:white;
	font-size:12px;
	float:left;
	padding:0px 10px;/*left&rigth*/
	margin: 10px 0px;
}
#footer img{
	border:none;
}
#footer li ul{
	list-style:none;
	padding:0px;
	margin-bottom:12px;
}
.clear{
	clear:both;
	display:block;
	overflow:hidden;
	visibility:hidden;
	width:0px;
	height:0px;
}/*goes between rows*/
footer .whiteboarder{
	border:2px solid white;
}
#footer .img_left{
	float:left;
	margin-left:10px;
	width:40px;
}
#footer .black_box{
	background:rgba(0,0,0,0.4);
	padding:6px;
	margin-bottom:5px;
	border-radius:5px;
} 
#footer #notifications{
	float:right;
	width:auto;
	margin:10px 15px 0px;
	padding:0px;
	overflow:hidden;
}
#footer #notifications li{
	margin-right:-40px;
	float:left;
	width:100px;
	padding:3px;
	height:32px;
	list-style:none;/*removes bullet points*/
} 
#footer #notifications li:hover{
	margin-top:-1px;
}
a.notificationIcons span{
	display:none;
	font-size:12px;
	color:white;
	bottom:45px;
	width:150px;
	position:absolute;
	border:1px solid #333333;
	border-radius:3px;
	padding:5px;
	margin-left:-75px;
	background:rgba(0,0,0,0.4);
}
a.notificationIcons:hover span{
	display:block;
}
#footer_menu{
	margin:0px;
	padding:opx;
	width:auto;
}
#footer_menu li{
	list-style:none;
	float:left;
	font-size:12px;
	padding:12px 14px 14px 14px;
	border-right:1px solid rgba(0,0,0,0.4);
	background:rgba(0,0,0,0.15);
}
#footer_menu li:hover{
	background:rgba(0,0,0,0.35)
}
#footer_menu li a{
	display:block;
	color:#CCCCCC;
	text-decoration:none;
}
#footer_menu li a:hover{
	color:white;
}
/*drop-up buttons for the footer*/
#footer_menu li ul.dropup{
	display:none;
}
#footer_menu li:hover ul.dropup{
    display:block;
    position:absolute;
    margin:10px 0 0 -15px;
    bottom:40px;
    border:1px solid #111111;
    border-bottom:none;
    background:rgba(0,0,0,0.8);
    border-radius:7px 7px 0px 0px;
	padding-top:7px;
}/*topleft+topright*/
#footer_menu li:hover li{
	float:none;
	background:none;
	border:none;
	border-bottom:1 px solid #1111111;
	padding: 1px 10px 12px 10px;
	}
	/*dropup default links*/
#footer_menu li:hover a{
	color:#aaaaaa;
}	
#footer_menu li:hover a:hover {
	color:white;
}
/*header links(stream,messages etc...)*/
#footer_menu li:hover a.headerLinks{
	font-size:14px;
	text-decoration:underline;
	color:#cc0000;
	margin-top:10px;
	margin-left:10px;
}
#footer_menu li:hover a.headerLinks:hover{
	color:white;
	cursor:pointer;
}
/*list links*/
#footer_menu li:hover a.listLinks{
	font-size:12px;
	color:#aaaaaa;
    margin-left:10px;
	}
#footer_menu li:hover a.listLinks:hover{
	color:white;
    cursor:pointer;
	}
#footer_menu .right{
	float:right;
	right:0px;
	margin-right:2px;
	border-right:none;
	border-left:1px solid rgba (0,0,0,0.3);
}
/*layout*/
#footer .one_column_layout,
#footer .two_column_layout,
#footer .three_column_layout{
	margin:4px;
	position:absolute;
	padding-bottom:15px;
	padding-top:5px;
	padding-left:3px;
	display:none;
	text-align:left;
}
/*width of each layout +140*/
#footer.one_column_layout{
	width:140px;
}
#footer.two_column_layout{
	width:280px;
}
#footer.three_column_layout{
	width:420px;
}
/*display drop-up menu on hover*/
#footer_menu li:hover .one_column_layout,
#footer_menu li:hover .two_column_layout,
#footer_menu li:hover .three_column_layout{
	display:block;
	position:absolute;
	margin: 0 0 0 -15px;
	bottom:40px;
	background:rgba(0,0,0,0.85);
	border-radius: 7px 7px 0px 0px
}
#footer .col_1,
#footer .col_2,
#footer .col_3{
	display:inline;
	float:left;
	position:relative;
	margin-left:5px;
	margin-right:5px;
}
#footer .col_1{
	width:130px;
}
#footer .col_2{
	width:270px;
}
#footer .col_3{
	width:410px;
}

/*Thi is the section where you can apply the website you created to a mobile device. Hopefully when you have finished updating it, you can see how it looks either on your laptop/pc or on your phone!*/
@media only screen and (min-width: 150px) and (max-width: 300px)
{ 
 .body {
		background:#178282;	
	margin: 160 auto;
	width:85%;
}
.background-wrap {
		  display:none;
			}
.mainheader{
	visibility:hidden;
}
	  	  
.mainheader1 a img{
	width:10
	0%;
}   
.mainheader1 nav{
	height:100px;
}
.mainheader1 nav ul{
padding-left:0;
}
.mainheader1 nav ul li{
width:100%;    
text-align:center;
}
.mainheader1 nav a:link, .mainheader nav a:visited{
	padding:10px 30px;
	height:20px;
	display:block;
}
#slider {
	overflow:hidden;
	margin-left:15%;
	margin-top:75%;
	background-color:white;
	-webkit-box-shadow: 7px 7px 7px black;
	border-radius:19px;
	font-family:AR BERKLEY;
}
}
.merch {
	overflow:hidden;
	margin-top:2%;
	background-color:white;
	-webkit-box-shadow: 7px 7px 7px black;
	border-radius:19px;
	font-family:AR BERKLEY;
	width:90%;
	margin-left:5%;
}
.merch h2{
	margin-top:1%;
	color:black;
	
}
.merch div{
	margin-top:1%;
	color:black;
	display:inline-block;
	float:center;
	
}
.merch div strong{
	color:black;
	float:center;
}
.merch img{
	margin-top:20px;
	margin-bottom:20px;
	margin-left:20%;
	float:left;
}
.merch button{
  background-color: black; /* black */
  border: none;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}
.shopping_cart {
	overflow:hidden;
	background-color:#D7D6A4;
	border-radius:19px;
	font-family:AR BERKLEY;
	width:90%;
	margin: 1% 0% 10px 5%;
}
.shopping_cart_title{
	margin-bottom:10px;
}
.cart_row{
	margin-left:30%;
}
.cart_header{
	font-weight:bold;
	font-size:1.2em;
	padding:20px 20px 20px 10px;
	color:grey;
	margin-top:20px;
	margin-right:10px;
	padding-left:10px;	
}
.merch_item{
	float:left;
	margin-left:10%;
	background-color:white;
	border-radius:20px;
}
.cart_item{
	width:45%;
	margin-left:25%;
	margin-top:1%;
}
.cart_item button{
  background-color: black; /* black */
  border: none;
  color: white;
  padding: 5px 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 10px;
}
.cart-total{
	margin:10% 0% 4% 0%;
	align:center;
}
.cart-total button{
  background-color: #996600 ; /* black */
  border-color:black;
  color: white;
  padding: 10px 22px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
}