*{
	  margin:0;
	  padding:0;
	  }
	  .background-wrap {
		  position:fixed;
		  	width:100%;
			z-index:-1000;
			height:100%;
			overflow:hidden;
			top:0;
			left:0;
			}
			
			#video-bg-elem {position:absolute;
			top:0;
			left:0;
			min-height:100%;
			min-width:100%;
			
			}
body { 
	color:#3d2e29;
	font-size:20px;
	font-family:'Lucinda Sans Unicode';
	line-height:1.5;
	text-align:left;
}
h2{color:#b3d9ff;
}
p {color:#ffbf80; font-size:17px;}
a {text-decoration:none;	
}
nav li a:link,nav li a:visited{   
     color:black;
     background-color:none;
     border-radius:4px;
     	 
}
nav li a:hover,nav li a:active{ 
background-color:#ffe0b3;	
color:black;
text-decoration:underline;
border-radius:2px;
padding:5px;
}
span{color:#cc9966;}
a:hover span{background-color:none;
text-decoration:underline;
border-radius:8px;
padding:4px;}
img {
	text-align:center;
	width:20%;
}
.body {
		background-color:black;	
	background-color: rgba(0,0,0,0.7);
	margin: 160 auto;
	width:85%;
	clear:both;
}
.mainheader{
	  background:#c68c53; 
	  width:100%; 
	  height:125px;
	  position: fixed;
	  top:0; 
	  left:0;
	  z-index:100; 
	  opacity: 0.80;
	  }
.mainheader img{
	width:15%;
	height:auto;
    margin:2% 5%;
}
.mainheader nav{
	float:right;
	padding:15px 200px 50px 0;
	font-size:20px;
}
.mainheader nav ul li{
	display: inline-block;
	float: left;
padding:17px;
font-size:30px;
border:8px
}
.mainheader img{
	width:15%;
	height:auto;
    margin:2% 5%;
}
.leagueoflegends{font-family:AR BONNIE;
                 	text-decoration:underline;
					color:#dfbf9f;
					Background:#006666;
					border-radius:9px;
					text-align: center;
					padding:5px;
					margin-bottom:4%;
					font-size:55px;
						-webkit-box-shadow: 7px 7px 7px black;
					}
.Revelation {font-family:AR BONNIE;
					color:#dfbf9f;
					Background:#006666;
					border-radius:9px;
					text-align: center;
					padding:5px;
					font-size:25px;
					width:70%;
					margin-left:15%;
						-webkit-box-shadow: 7px 7px 7px black;
					}

/*Moving onto our content*/

.Characternames {margin-left:24%;
                 margin-top:4%;
				 margin-bottom:3%;
				 text-decoration:underline;
				 font-family:AR BONNIE;
					color:#dfbf9f;
					Background:#006666;
					border-radius:9px;text-align: center;
					padding:5px;
					font-size:25px;
					width:20%;
						-webkit-box-shadow: 7px 7px 7px black;
				 }

.Characterdescription {background:#ffb366;
border-radius:10px;
padding:18px;
color:black;
word-spacing:2px;
line-height:29px;
}
.Characterdescription2 {background:#ffb366;
border-radius:10px;
padding:18px;
color:black;
word-spacing:2px;
line-height:29px;
width:50%;
padding-bottom:1px;
margin-top:1%;
}
